<form method="post">
    <div class="row">

        <div class="col-md-8">
            <section id="loginForm">
                @Html.AntiForgeryToken()
                <h4>Login</h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Email</label>
                        <input name="email" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Logar</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>
<div asp-validation-summary="All" class="text-danger"></div>
@if (ViewBag.Message != null)
{
    <div class="p-1 mb-2 bg-success text-white">@ViewBag.Message</div>
}
